body{
  background-color: aquamarine;
  font-family: 'Indie Flower', cursive;
  font-size: 24px;
  
}

header{
  text-align: center;
  color: indigo;
  background-color: #dc143c;
  padding-bottom: 20px;

}

header h1{
  font-size: 75px;
}

#body-row{
  margin-left: 160px;
  margin-top: 20px;
  
}

.left-side{
  background-color: blueviolet;
}

.left-side h4{
  text-align: center;
  padding-top: 20px;
  
}

.right-side{
  background-color: #f72c8067; 
  padding-bottom: 40px;
}

#input{
  border-radius: 5px;
  border-color: blueviolet;
  background-color: aqua;
}

img{
  width: 300px;
  
}

.go-btn{
  border-color: blueviolet;
  background-color: aqua;
  border-radius: 5px;
}

.go-btn:hover { 
  background-color: blueviolet;
  border-color: aqua; 
}